.container {
    margin: 0 auto;
    padding: 0 10px;
    max-width: 90%;
}

.headline{
    font-family: 'Lato';
    font-size: 24px;
    text-align: center;
    text-transform: uppercase;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.open-menu,
.hidden-menu{
    display: none;
}
@media screen and (max-width: 1024px){
    .open-menu{
        display: block;
    }
}

.open-menu{
    height: 50px;
    width: 50px;
    font-size: 30px;
}


.text{
    font-family: 'Pacifico';
    font-size: 18px;
    text-align: center;
}