body{
    background-color: #cee7b4;
}

.container {
    margin: 0 auto;
    padding: 0 10px;
    max-width: 80%;
}

.headline{
    font-family: 'Helvetica';
    font-size: 27px;
    text-align: center;
    text-transform: uppercase;
    @media screen and (max-width: 1536px) {
        font-size: 24px;
    }
    @media screen and (max-width: 1440px) {
        font-size: 24px;
    }
    @media screen and (max-width: 1248px) {
        font-size: 22px;
    }
    @media screen and (max-width: 1024px) {
        font-size: 21px;
    }
    @media screen and (max-width: 768px) {
        font-size: 20px;
    }
    @media screen and (max-width: 640px) {
        font-size: 19px;
    }
    @media screen and (max-width: 560px) {
        font-size: 18px;
    }
    @media screen and (max-width: 480px) {
        font-size: 15px;
    }
    @media screen and (max-width: 400px) {
        font-size: 12px;
    }
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

a{
    font-family: 'Helvetica';
}

.open-menu,
.hidden-menu{
    display: none;
}
@media screen and (max-width: 1024px){
    .open-menu{
        display: block;
    }
}

.open-menu{
    height: 50px;
    width: 50px;
    font-size: 30px;
}


.text{
    font-family: 'Lato';
    font-size: 21px;
    text-align: center;
}

.welcome,
.about,
.works,
.skills{
    display: flex;
    justify-content: center;
    align-items: center;
}

.content{
    text-align: center;
}
