header.header
    .container
        .header__navbar.navbar
            a.logo(href="#")
                h1.logo__headline.headline Привет
            nav.navbar__navigation.navigation
                a(href="#") Главная
                a(href="#") Обо мне
                a(href="#") Портфолио
                a(href="#") Навыки
                a(href="#") Контакты
            button.open-menu(onclick='openMenu()') &#9776;
            #mobile.hidden-menu
                a.close(href="#", onclick='closeMenu()') &times;
                .hidden-menu__inner-content
                    a(href="#") Главная
                    a(href="#") Обо мне
                    a(href="#") Портфолио
                    a(href="#") Навыки
                    a(href="#") Контакты