header.header
    .header__top
        .header__logo
            .logo__sign
                img(src="../static/images/general/Logo.webp", alt="logo")
        .header__menu
            ul
                li
                    a(href="#") O Компании
                li
                    a(href="#") Портфолио
                li
                    a(href="#") Каталог
                li
                    a(href="#") Сервис
                li
                    a(href="#") Контакты
        button.open &#9776;
    .container
        .header__banner
            .banner__decor
            .banner__info
                h1 Светотехническое оборудование в Петербурге
                p Продажа, аренда светотехнического оборудования.
                        | Оформление официальных мероприятий под ключ.
                a(href="#")
                    button.info__btn.btn Перейти