header.header
    .container
        .header__navbar.navbar
            a.logo(href="#")
                h1.logo__headline.headline Привет
            nav.navbar__navigation.navigation
                a(href="#") Главная
                a(href="#") Обо мне
                a(href="#") Портфолио
                a(href="#") Навыки
                a(href="#") Контакты
            button.open-menu &#9776;
            .hidden-menu
                ul
                    li
                        a(href="#") Главная
                    li
                        a(href="#") Обо мне
                    li
                        a(href="#") Портфолио
                    li
                        a(href="#") Навыки
                    li
                        a(href="#") Контакты