.custom-select-group {
    &__container {
        width: 100%;
    }
}
.cust-select {
    position: relative;

    &__btn {
        position: relative;
        display: block;
        width: 30%;
        text-align: left;
        background-color: #fff;
        border: 1px solid rgb(70, 70, 202);
        border-radius: 5px;
        height: 45px;
        padding: 10px 20px;
        padding-right: 40px;
        &.cust-select-active,
        &:focus {
            outline: none;
            box-shadow: 0 0 0 3px rgba(176, 198, 225, 0.8);
        }
        &::after {
            content: '';
            width: 0;
            height: 0;
            border-width: 10px 6px 0 6px;
            border-color: brown transparent transparent transparent;
            border-style: solid;
            position: absolute;
            top: 50%;
            right: 15px;
            transform: translateY(-50%);
            pointer-events: none;
        }
    }

    &__list {
        display: none;
        list-style-type: none;
        background-color: #fff;
        overflow: hidden;
        border-radius: 6px;
        width: 30%;
        position: absolute;
        left: 0;
        top: 45px;
        z-index: 10;
        &.dropdown__list_visible {
            display: block;
        }
    }

    &__item {
        border: 1px solid grey;
        border-bottom: 0px;
        padding: 10px 20px;
        cursor: pointer;
        &:hover {
            background-color: rgb(156, 228, 250);
        }
        &:first-child {
            border-radius: 5px 5px 0 0;
        }
        &:last-child {
            border-radius: 0 0 5px 5px;
            border-bottom: 1px solid grey;
        }
    }
}
#cust-select__input_hidden {
    border: 1px solid black;
    // display: none;
}
