.counter-input {
    display: flex;
    align-items: center;
    margin: 30px 0;
}
#counter-input {
    margin-left: 0;
    width: 50px;
    padding: 0 20px;
}
.counter__title {
    margin-right: 50px;
}
.counter-control {
    margin: 0 10px;
    height: 20px;
    width: 20px;
    border: 1px solid black;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
}
