.slider {
    margin: 10px 0;
    height: 625px;
    position: relative;
}
.img__on-screen {
    max-width: 590px;
    position: absolute;
    top: 20%;
    left: 20%;
}

.on-screen__title {
    font-size: 18px;
    line-height: 22px;
    color: #ffffff;
}

.on-screen__headline {
    font-weight: 600;
    font-size: 52px;
    line-height: 63px;
    color: #ffffff;
}

.on-screen__text {
    font-size: 16px;
    line-height: 148%;
    color: rgba(255, 255, 255, 0.8);
    margin: 24px 0 54px 0;
}

.on-screen__buttons {
    display: flex;
    align-items: flex-start;
}
.btn_one {
    width: 186px;
    height: 48px;
    border: 1px solid #ffffff;
    border-radius: 8px;
    background-color: transparent;
    font-size: 16px;
    line-height: 20px;
    color: #ffffff;
}

.btn_two {
    width: 186px;
    height: 48px;
    background: #397dff;
    box-shadow: 0px 6px 24px rgba(85, 104, 255, 0.12);
    border-radius: 8px;
    font-size: 16px;
    line-height: 20px;
    color: #ffffff;
    margin-left: 24px;
}
.slick-slider {
    overflow: hidden;
    min-width: 0;
}
.slick-track {
    display: flex;
}
.slick-prev,
.slick-next {
    position: absolute;
    bottom: 25%;
    height: 32px;
    width: 32px;
    font-size: 0;
    background-color: #ff0;
    z-index: 1000;
    border-radius: 50%;
}
.slick-prev {
    right: 26%;
    &::before {
        content: '';
        background-color: #000;
        height: 1px;
        width: 12px;
        display: inline-block;
        transform: rotate(-45deg);
        position: absolute;
        top: 35%;
        left: 30%;
    }
    &::after {
        content: '';
        background-color: #000;
        height: 1px;
        width: 12px;
        display: inline-block;
        transform: rotate(45deg);
        position: absolute;
        bottom: 35%;
        left: 30%;
    }
}
.slick-next {
    right: 22%;
    &::before {
        content: '';
        background-color: #000;
        height: 1px;
        width: 12px;
        display: inline-block;
        transform: rotate(45deg);
        position: absolute;
        top: 35%;
        left: 30%;
    }
    &::after {
        content: '';
        background-color: #000;
        height: 1px;
        width: 12px;
        display: inline-block;
        transform: rotate(-45deg);
        position: absolute;
        bottom: 35%;
        left: 30%;
    }
}
.slider__row {
    display: flex;
    z-index: 1000;
    top: -454px;
    right: -71%;
}
.slider__row .slick-list {
    margin-left: -686px;
    width: 734px !important;
}
.slider__row .slick-track {
    overflow: hidden;
}
.slider__row .slick-list .slick-slide {
    width: 317px !important;
}
.row__card {
    width: 317px !important;
    height: 240px;
    padding: 5px 34px;
    border-right: 3px solid yellow;
}
.card__headline {
    font-weight: 700;
    font-size: 36px;
    line-height: 40px;
    letter-spacing: 0.02em;
    color: #fff;
}
.card__text {
    font-size: 14px;
    line-height: 21px;
    color: #ffffff;
}
