.header
    background-color: #cee7b4;
    width 100%
    height 94px
    position fixed
    z-index 100
    .header::before
        content ''
        width 100%

    .container
        margin 0 auto
        padding 10px
        width 70%
        background-color #bbe5bb
        border-radius 20px