.header
    .container
        .header__navbar.navbar
            a.logo(href="#")
                h1.logo__headline.headline Привет
            nav.navbar__navigation.navigation
                a(href="#") Главная
                a(href="#") Обо мне
                a(href="#") Портфолио
                a(href="#") Контакты
            button.open-menu Меню
            nav.nav-hidden
                button.close-menu Закрыть
                a(href="#") Главная
                a(href="#") Обо мне
                a(href="#") Портфолио
                a(href="#") Контакты