extends template/main

block variables
	- var title = 'Главная'

block content
    section.about
        .container
            h2.about__headline.headline Обо мне
            p.about__text.text Здравствуйте, меня зовут Алексей. 
                    |Занимаюсь вёрсткой сайтов, так как мне это интересно. 
                    |Встал я на этот путь совсем недавно, но уже много чего изучил.
                    |Этот путь, как увлекательное путешествие, только усиливает
                    |желание развиваться в выбранном мной направлении.
                    |В этом мне помогают образовательные ресурсы Интернета.
                    |Верстаю по макету, в то же время, стараюсь добавить что-то от себя.
                    |Не всё получается с первого раза, и приходится пробовать разные пути
                    |для реализации идей и задумок.