<section class="budget" style="display: none">
    <div class="budget__container container">
        <h1 class="budget__headline">Budget App</h1>
        <div class="budget__result result">
            <div class="result__top">
                <h3 class="result__title">Баланс</h3>
                <p class="result__balance">0 ₽</p>
            </div>
            <div class="result__main">
                <div class="result__main-item result__income">
                    <h4>Доходы</h4>
                    <p class="result__money result__money-income">+0 ₽</p>
                </div>
                <div class="result__main-item result__expenses">
                    <h4>Расходы</h4>
                    <p class="result__money result__money-expenses">-0 ₽</p>
                </div>
            </div>
        </div>
        <div class="history">
            <h3>История расходов</h3>
            <ul class="history__list">
                <!-- <li class="history__item history__item-plus">
                    Получил зарплату
                    <span class="history__money">+30000 ₽</span>
                    <button class="history__delete">x</button>
                </li>

                <li class="history__item history__item-minus">
                    Отдал долг
                    <span class="history__money">-10000 ₽</span>
                    <button class="history__delete">x</button>
                </li> -->
            </ul>
        </div>
        <div class="operation">
            <h3>Новая операция</h3>
            <form id="form">
                <label>
                    <input
                        type="text"
                        class="operation__fields operation__name"
                        placeholder="Наименование операции"
                    />
                </label>
                <label>
                    <input
                        type="text"
                        class="operation__fields operation__amount"
                        placeholder="Введите сумму"
                    />
                </label>
                <button type="submit" class="operation__add">
                    Добавить операцию
                </button>
            </form>
        </div>
    </div>
</section>
