<div class="single-custom-select__container container">
    <div class="single-custom-select">
        <button class="single-custom-select__btn">choose something</button>
        <ul class="single-custom-select__list">
            <li class="single-custom-select__item" data-value="111">one</li>
            <li class="single-custom-select__item" data-value="222">two</li>
            <li class="single-custom-select__item" data-value="333">three</li>
            <li class="single-custom-select__item" data-value="444">four</li>
            <li class="single-custom-select__item" data-value="555">five</li>
        </ul>
        <input
            type="text"
            name="select-custom"
            class="single-custom-select__input_hidden"
            value=""
        />
    </div>
</div>
