<section class="dropdown-section">
    <nav class="dropdown">
        <ul class="dropdown__list">
            <li>
                <a href="#!" class="dropdown__link">
                    First Level
                </a>
                <span class="dropdown__arrow arrow"></span>
                <ul class="underground__list">
                    <li>
                        <a href="#!" class="underground__link">
                            Second Level
                        </a>
                    </li>
                    <li>
                        <a href="#!" class="underground__link">
                            Second Level
                        </a>
                    </li>
                    <li>
                        <a href="#!" class="underground__link">
                            Second Level
                        </a>
                    </li>
                    <li>
                        <a href="#!" class="underground__link">
                            Second Level
                        </a>
                    </li>
                    <li>
                        <a href="#!" class="underground__link">
                            Second Level
                        </a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#!" class="dropdown__link">
                    First Level
                </a>
            </li>
        </ul>
    </nav>
</section>
