<header class="header">
    <div class="container">
        <div class="header__inner">
            <a href="#!" class="header__logo">
                <img src="./img/logo/hamachi-logo.png" alt="logo" />
            </a>
            <div class="header__burger">
                <span></span>
            </div>
            <nav class="header__menu">
                <ul class="header__list">
                    <li>
                        <a href="./index.html" class="header__link"> home </a>
                    </li>
                    <li>
                        <a href="!#" class="header__link">empty</a>
                    </li>
                    <li>
                        <a href="./calculation.html" class="header__link">
                            calculation
                        </a>
                    </li>
                    <li><a href="#!" class="header__link">empty</a></li>
                    <li>
                        <a href="./dacha.html" class="header__link">blog</a>
                    </li>
                    <li><a href="#!" class="header__link">empty</a></li>
                    <li><a href="#!" class="header__link">empty</a></li>
                </ul>
            </nav>
        </div>
    </div>
</header>
