<section class="magnific">
    <div class="magnific__container container">
        <div class="column__pics">
            <a href="../img/popup/m-01.jpg">
                <img src="../img/popup/m-01.jpg" alt="" />
            </a>
            <a href="../img/popup/m-02.jpg">
                <img src="../img/popup/m-02.jpg" alt="" />
            </a>
            <a href="../img/popup/m-03.jpg">
                <img src="../img/popup/m-03.jpg" alt="" />
            </a>
        </div>
    </div>
</section>
