<div class="tabs-JS">
    <ul class="control-panel">
        <li class="control active">Tab 1</li>
        <li class="control">Tab 2</li>
        <li class="control">Tab 3</li>
        <li class="control">Tab 4</li>
        <li class="control">Tab 5</li>
    </ul>

    <div class="tabs-container">
        <div class="tabs">
            <div class="tab">
                <h2>Tab 1</h2>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab
                    pariatur id vero, omnis labore impedit odio rerum error
                    sequi? Voluptatibus autem id dolorem iusto, earum quaerat
                    repellat? Eveniet, quo fuga similique dolorem praesentium
                    odio blanditiis voluptas autem sapiente, corporis iure quod?
                    Quas, dolore impedit maxime quia commodi vitae dolor quasi!
                </p>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab
                    pariatur id vero, omnis labore impedit odio rerum error
                    sequi? Voluptatibus autem id dolorem iusto, earum quaerat
                    repellat? Eveniet, quo fuga similique dolorem praesentium
                    odio blanditiis voluptas autem sapiente, corporis iure quod?
                    Quas, dolore impedit maxime quia commodi vitae dolor quasi!
                </p>
            </div>
            <div class="tab">
                <h2>Tab 2</h2>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab
                    pariatur id vero, omnis labore impedit odio rerum error
                    sequi? Voluptatibus autem id dolorem iusto, earum quaerat
                    repellat? Eveniet, quo fuga similique dolorem praesentium
                    odio blanditiis voluptas autem sapiente, corporis iure quod?
                    Quas, dolore impedit maxime quia commodi vitae dolor quasi!
                </p>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab
                    pariatur id vero, omnis labore impedit odio rerum error
                    sequi? Voluptatibus autem id dolorem iusto, earum quaerat
                    repellat? Eveniet, quo fuga similique dolorem praesentium
                    odio blanditiis voluptas autem sapiente, corporis iure quod?
                    Quas, dolore impedit maxime quia commodi vitae dolor quasi!
                </p>
            </div>
            <div class="tab">
                <h2>Tab 3</h2>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab
                    pariatur id vero, omnis labore impedit odio rerum error
                    sequi? Voluptatibus autem id dolorem iusto, earum quaerat
                    repellat? Eveniet, quo fuga similique dolorem praesentium
                    odio blanditiis voluptas autem sapiente, corporis iure quod?
                    Quas, dolore impedit maxime quia commodi vitae dolor quasi!
                </p>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab
                    pariatur id vero, omnis labore impedit odio rerum error
                    sequi? Voluptatibus autem id dolorem iusto, earum quaerat
                    repellat? Eveniet, quo fuga similique dolorem praesentium
                    odio blanditiis voluptas autem sapiente, corporis iure quod?
                    Quas, dolore impedit maxime quia commodi vitae dolor quasi!
                </p>
            </div>
            <div class="tab">
                <h2>Tab 4</h2>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab
                    pariatur id vero, omnis labore impedit odio rerum error
                    sequi? Voluptatibus autem id dolorem iusto, earum quaerat
                    repellat? Eveniet, quo fuga similique dolorem praesentium
                    odio blanditiis voluptas autem sapiente, corporis iure quod?
                    Quas, dolore impedit maxime quia commodi vitae dolor quasi!
                </p>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab
                    pariatur id vero, omnis labore impedit odio rerum error
                    sequi? Voluptatibus autem id dolorem iusto, earum quaerat
                    repellat? Eveniet, quo fuga similique dolorem praesentium
                    odio blanditiis voluptas autem sapiente, corporis iure quod?
                    Quas, dolore impedit maxime quia commodi vitae dolor quasi!
                </p>
            </div>
            <div class="tab">
                <h2>Tab 5</h2>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab
                    pariatur id vero, omnis labore impedit odio rerum error
                    sequi? Voluptatibus autem id dolorem iusto, earum quaerat
                    repellat? Eveniet, quo fuga similique dolorem praesentium
                    odio blanditiis voluptas autem sapiente, corporis iure quod?
                    Quas, dolore impedit maxime quia commodi vitae dolor quasi!
                </p>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab
                    pariatur id vero, omnis labore impedit odio rerum error
                    sequi? Voluptatibus autem id dolorem iusto, earum quaerat
                    repellat? Eveniet, quo fuga similique dolorem praesentium
                    odio blanditiis voluptas autem sapiente, corporis iure quod?
                    Quas, dolore impedit maxime quia commodi vitae dolor quasi!
                </p>
            </div>
        </div>
    </div>
</div>
