<div class="tabs__container container">
    <nav class="tabs__items">
        <a href="#tab_01" class="tabs__link"><span> First</span></a>
        <a href="#tab_02" class="tabs__link"><span> Second</span></a>
        <a href="#tab_03" class="tabs__link"><span> Third</span></a>
    </nav>
    <div class="tabs__content content">
        <div id="tab_01" class="content__item">
            <span>First</span>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt amet
            ipsum placeat, sequi molestiae eligendi pariatur laboriosam dicta.
            Nihil excepturi quam, ipsa enim rerum debitis officia dicta cumque
            quidem ad vero mollitia?
        </div>
        <div id="tab_02" class="content__item">
            <span>Second</span>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt amet
            ipsum placeat, sequi molestiae eligendi pariatur laboriosam dicta.
            Nihil excepturi quam ratione, amet iusto nam, reiciendis harum
            voluptas deleniti dolore consequatur? Nostrum provident autem,
            voluptate saepe cum optio architecto, erum debitis officia dicta
            cumque quidem ad vero mollitia?
        </div>
        <div id="tab_03" class="content__item">
            <span>Third</span>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt amet
            ipsum placeat, sequi molestiae el cum optio architecto, ipsa enim
            rerum debitis officia dicta cumque quidem ad vero mollitia?
        </div>
    </div>
</div>
