<!-- transparent menu -->
<header class="header">
    <div class="header__container container">
        <div class="header__left">
            <div class="header__logo">
                <a href="./index.html">
                    <img src="../img/logo/logo.png" alt="" />
                </a>
            </div>
            <nav class="header__menu menu">
                <ul class="menu__list">
                    <li><a href="./index.html">home</a></li>
                    <li><a href="./jquery-counter-01.html">counter</a></li>
                    <li><a href="./calculation.html">calculation</a></li>
                    <li><a href="#!">page</a></li>
                    <li><a href="#!">blog</a></li>
                    <li><a href="#!">contacts</a></li>
                    <li><a href="#!" id="mobId">sign up</a></li>
                </ul>
            </nav>
        </div>
        <div class="header__burger">
            <span></span>
        </div>
    </div>
</header>
