extends template/main

block variables
    - var title = 'Контакты'

block content
    section.contacts
        .container
            h1.contacts__headline.headline Связь со мной
            .contacts-box
                h5.contacts-box__headline.headline Телефон
                a(href="tel:+79066257305") +79066257305
                h5.contacts-box__headline.headline E-mail
                a(href="mailto:lexa24032@gmail.com") lexa24032@gmail.com
                h5.contacts-box__headline.headline ВКонтакте
                a(href="https://vk.com/alexeythedev") vk.com/alexeythedev
                h5.contacts-box__headline.headline Whatsapp
                a(href="tel:+79066257305") +79066257305
                h5.contacts-box__headline.headline Skype
                a(href="skype:lexa24032?call") live:lexa24032