extends template/main

block variables
    - var title = 'Навыки'

block content
    section.skills
        .container
            h1.skills__headline.headline Мои навыки
            .skills__box
                .box__brick
                    img(src="../static/images/icons-for-my-site/HTML5.png", alt="html5")
                    h4.brick__headline.headline HTML5
                .box__brick
                    img(src="../static/images/icons-for-my-site/CSS3.png", alt="css3")
                    h4.brick__headline.headline CSS3
                .box__brick
                    img(src="../static/images/icons-for-my-site/javascript.png", alt="js")
                    h4.brick__headline.headline JavaScript
                .box__brick
                    img(src="../static/images/icons-for-my-site/jquery.png", alt="jquery")
                    h4.brick__headline.headline jQuery
                .box__brick
                    img(src="../static/images/icons-for-my-site/sass.png", alt="sass")
                    h4.brick__headline.headline Sass
                .box__brick
                    img(src="../static/images/icons-for-my-site/pug.png", alt="pug")
                    h4.brick__headline.headline Pug
                .box__brick
                    img(src="../static/images/icons-for-my-site/gulp.png", alt="gulp")
                    h4.brick__headline.headline Gulp
                .box__brick
                    img(src="../static/images/icons-for-my-site/webpack.png", alt="webpack")
                    h4.brick__headline.headline Webpack
                .box__brick
                    img(src="../static/images/icons-for-my-site/git.png", alt="git")
                    h4.brick__headline.headline Git