extends template/main

block variables
    - var title = 'Портфолио'

block content
    section.works
        .container
            h1.works__headline.headline Мои работы
            .slideshow
                .slide.fade
                    a(href="#")
                        img(src="./static/images/maxim.webp", alt="maxim")
                .slide.fade
                    a(href="#")
                        img(src="./static/images/equip.webp", alt="equip")
                .slide.fade
                    a(href="#")
                        img(src="./static/images/ecommerce.webp", alt="ecommerce")
                .slide.fade
                    a(href="#")
                        img(src="./static/images/photo.webp", alt="photo")
                .slide.fade
                    a(href="#")
                        img(src="./static/images/restaurant.webp", alt="restaurant")
                a.prev(href="#", onclick="plusSlide(-1)") &#10094;
                a.next(href="#", onclick="plusSlide(1)") &#10095;