.about{
    margin: 30px 0;
    .about__headline{
        margin-bottom: 20px;
    }
    .about__text{
        text-align: center;
        line-height: 40px;
        max-width: 900px;
    }
}

@media screen and (max-width: 1440px){
    .about{
        .about__headline{
            font-size: 26px;
        }
        .about__text{
            font-size: 20px;
        }
    }
}

@media screen and (max-width: 1024px){
    .about{
        .about__headline{
            font-size: 18px;
        }
        .about__text{
            font-size: 16px;
            line-height: 36px;
        }
    }
}

@media screen and (max-width: 640px){
    .about{
        .about__headline{
            font-size: 15px;
        }
        .about__text{
            line-height: 32px;
        }
    }
}

@media screen and (max-width: 560px){
    .about{
        .about__headline{
            font-size: 14px;
        }
        .about__text{
            font-size: 14px;
        }
    }
}

@media screen and (max-width: 480px){
    .about{
        .about__headline{
            font-size: 13px;
        }
        .about__text{
            font-size: 13px;
            line-height: 21px;
        }
    }
}

@media screen and (max-width: 400px){
    .about{
        margin: 10px 0;
        .about__headline{
            font-size: 12px;
            margin-bottom: 10px;
        }
        .about__text{
            font-size: 11px;
            line-height: 20px;
        }
    }
}