.contacts{
    .contacts-box{
        margin-top: 150px;
        h5{
            font-size: 21px;
            margin: 5px;
        }
        a{
            font-size: 24px;
            padding: 15px;
        }
    }
}

@media screen and (max-width: 1440px){
    .contacts{
        .contacts-box{
            margin-top: 120px;
        }
    }
}

@media screen and (max-width: 1248px){
    .contacts{
        .contacts-box{
            margin-top: 100px;
            h5{
                font-size: 20px;
            }
            a{
                font-size: 22px;
            }
        }
    }
}

@media screen and (max-width: 1024px){
    .contacts{
        .contacts-box{
            margin-top: 80px;
        }
    }
}

@media screen and (max-width: 560px){
    .contacts{
        .contacts-box{
            margin-top: 50px;
            h5{
                font-size: 15px;
            }
            a{
                font-size: 18px;
            }
        }
    }
}

@media screen and (max-width: 480px){
    .contacts{
        .contacts-box{
            margin-top: 30px;
            h5{
                font-size: 12px;
            }
            a{
                font-size: 16px;
            }
        }
    }
}