.header{
    background-color: #cee7b4;
    width: 100%;
    height: 100px;
    .header__navbar{
        height: 100px;
        .navbar__navigation{
            a{
                margin: 0 20px;
                padding: 20px;
            }
        }
    }
}

@media screen and (max-width: 1536px){
    .header{
        .header__navbar{
            .navbar__navigation{
                a{
                    margin: 0 18px;
                }
            } 
        }
    }
}

@media screen and (max-width: 1440px){
    .header{
        .header__navbar{
            .navbar__navigation{
                a{
                    margin: 0 16px;
                }
            } 
        }
    }
}

@media screen and (max-width: 1248px){
    .header{
        .header__navbar{
            .navbar__navigation{
                a{
                    margin: 0 14px;
                }
            } 
        }
    }
}

@media screen and (max-width: 1024px){
    .header{
        .header__navbar{
            height: 90px;
            .navbar__navigation{
                display: none;
            }
            .open-menu{
                height: 40px;
                width: 40px;
                font-size: 24px;
            }
            .hidden-menu{
                display: block;
                height: 100%;
                width: 0;
                z-index: 10;
                position: fixed;
                right: 0;
                top: 100px;
                overflow-x: hidden;
                transition: .5s;
                background-color: green;
                opacity: .6;
                .close{
                    font-size: 70px;
                    position: absolute;
                    top: 0;
                    left: 30px;
                    color: #d1e4d1;
                }
                .hidden-menu__inner-content{
                    position: relative;
                    top: 5%;
                    width: 100%;
                    text-align: center;
                    margin-top: 40px;
                    a{
                        display: block;
                        padding: 22px;
                        font-size: 30px;
                        color: #cee9b3;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 768px){
    .header{
        height: 70px;
        .header__navbar{
            .hidden-menu{
                top: 70px;
                .close{
                    font-size: 60px;
                }
                .hidden-menu__inner-content{
                    margin-top: 45px;
                    a{
                        font-size: 28px;
                        padding: 25px;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 640px){
    .header{
        .header__navbar{
            height: 80px;
        }
    }
}

@media screen and (max-width: 560px){
    .header{
        .header__navbar{
            height: 70px;
            .hidden-menu{
                top: 120px;
            }
        }
    }
}

@media screen and (max-width: 480px){
    .header{
        .header__navbar{
            height: 90px;
            .hidden-menu{
                top: 70px;
            }
        }
    }
}

@media screen and (max-width: 240px){
    .header{
        height: 50px;
        .header__navbar{
            height: 55px;
            .open-menu{
                height: 30px;
                width: 30px;
                font-size: 18px;
            }
            .hidden-menu{
                top: 50px;
                .close{
                    top: 10px;
                    left: 20px;
                    font-size: 30px;
                }
                .hidden-menu__inner-content{
                    margin-top: 30px;
                    a{
                        font-size: 14px;
                        padding: 20px;
                    }
                }
            }
        }
    }
}