footer.footer
    .container
        .footer__top-level
            .top-level__phone
                a(href="#")
            .top-level__address
                a(href="#")
            .top-level__enail
                a(href="#")
        .footer__mid-level
            .mid-level__stone-1
                ul
                    li
                        a(href="#") О компании
                    li
                        a(href="#") Новости
            .mid-level__stone-2
                ul
                    li
                        a(href="#") Каталог
                    li
                        a(href="#") Аренда
            .mid-level__stone-3
                ul
                    li
                        a(href="#") Наши проекты
                    li
                        a(href="#") Сервисное обслуживание
        .footer__bottom-level
            .bottom-level__property © 2019 ЗАО «Транслайт». Все права защищены.
            .bottom-level__design Разработка и дизайн - D-e-n.ru
